
ion-col {
 
  text-align: center;
}

#slides1 {
  width: 45%!important;
  height: 300px!important;
  background-color:  gray;
  float: left;
  margin-left: 5.5px!important;
  margin-right: 5.5px!important;
  border-radius: 15px!important;
}
#slides2 {
  width: auto!important;
  height: 50px!important;
  float: left;
  margin-left: 5.5px!important;
  margin-right: 5.5px!important;
  border-radius: 15px!important;
}

#btns{
  align-items: center;
  justify-content: center;
}